<div class="dialog-content">
  <h2>Security Access Groups and Codes</h2>
  <div class="row">
    <div class="col"> <div class="access-groups scrollable">
      <div *ngFor="let group of accessGroup; let i = index" class="access-group">
        <div class="access-group-item" (click)="toggleAccessCodes(i)" [ngClass]="{'clicked': group.selected}">
          <div class="access-group-name">
            <strong>{{ group.sAccessGroup }}</strong>
          </div>
        </div>
      </div>
    </div></div>
    <div class="col bg-white"><div class="access-codes scrollable">
      <div *ngFor="let group of accessGroup">
        <div *ngIf="group.selected">
          <div *ngFor="let code of group.sAccessCodes" class="access-code">{{ code }}</div>
        </div>
      </div>
    </div></div>
  </div>
 
  
</div>
