
.mat-tab-group {
  margin-bottom: 48px;
}

form {
  width: 100%;
  margin: 0 auto;
  padding: 1px;
  // margin-right: 4px;
  // border: 1px solid #ccc;
  // border-radius: 5px;
  // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 0rem;
  background-color: white;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}


input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="description"]
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 3px;
  border: none;
  background-color: white;
}

h1{
  color: white;

  background-color: red;
  margin-left: 80px;
}
.form-group {
  display: flex;
  align-items:baseline;
  //margin-bottom: 10px;
}

.form-group label {
  flex: 1;
  margin-right: 10px;
  text-align: right;
}

.form-group input,
.form-group textarea {
  flex: 2;
}



table {
  width: 100%;
  //overflow: auto; /* Add horizontal and vertical scrollbars when needed */
  max-height: 250px; /* Set a max height for the table to show at least 5 users; adjust as needed */
}

.mat-row {
  height: 50px; /* Set the height of individual rows, which should be at least 5 users' worth of space; adjust as needed */
}

.mat-elevation-z8 {
  margin-top: 100px;
  margin-left: 8px;

}

.Agent {
  color: blue;
}

.mat-cell,
.mat-header-cell {
  padding: 2px;
  margin: 2px;
}

.mat-row {
  border-bottom: none; /* Remove the border between rows */
  margin: 2px;
}

.mat-header-row {
  border-bottom: none; /* Remove the border under the header row */
  margin: 2px;
}


// .submit{
//   margin-left: 100px;
// }



.descriptionlb{
  margin-right: 100;
}

.label-width {
  color: #2F4050;
  width: 120px;
}
.fullnamelb{
  margin-right: 20rem;
}

.label-width {
  display: inline-block;
  width: 150px;
  text-align: right;
  margin-right: 10px;
}


.totalDetails{
  margin-left: 112px;
  display: flex;
  justify-content: space-between;
}

.contact-details{

margin-right: 60rem;
margin-top: 30px;
}

.userdetails{
  margin-left: -20rem;
  margin-top: 2rem;
  width:50%
}
.userdetails,
.contact-details {
flex: 1;
margin-right: 15rem;

}

.view-container {
  // background-color: white;
  // padding: 3px;
  margin-right: 50px;
  margin-top: 20px;
  // background-color: #6c757d;


}

.username {
  padding: 10px;
  margin-top: 5px;
  font-weight: 100;
  font-size: 25px;
}

.input-width {
width: 30%;
}

.inputtag{
width: 14rem;
margin-top: 5px;
// background-color: gr;
color: gray;
}

.description{
width: 100%;
padding: 10px;
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 3px;
}

/* Style the tab group */
.mat-tab-group {
border: 1px solid #ccc;
border-radius: 5px;
margin: 20px 0;
box-shadow: none; /* Remove the shadow */
//overflow: hidden;
}

/* Style the tabs */
.mat-tab-label {
background-color: #007bff;
color: #fff;
font-weight: bold;
padding: 10px 20px;
border-radius: 1px;
margin-right: 1px;
}

/* Style the active tab */
.mat-tab-label.mat-tab-label-active {
background-color: #fff;
color: #007bff;
font-weight: bold;
}

/* Style the tab content */
.mat-tab-body-content {
padding: 1px;
}


mat-tab{

transition: none !important;
box-shadow: none !important;

}

mat-tab-group{
  transition: none !important;
box-shadow: none !important;
}

/* Remove the shadow from the mat-tab-group */
.mat-tab-group {
 background-color: red;
  box-shadow: none !important; /* Remove the shadow */
  border: none; /* Remove the border */
  border-radius: 0; /* Remove the border radius */
}

/* Remove the shadow from the mat-tab */
.mat-tab-label {

  box-shadow: none !important; /* Remove the shadow */
  border: none; /* Remove the border */
  border-radius: 0; /* Remove the border radius */
}

.mat-elevation-z0{
  border: solid 1px #c3bebe;
  // margin-left: 8px;
  // padding: 50px;
  // background-color: black;
}

#hover:hover{
  color: black;
}

.white{
   padding-top: 5px;
   padding-bottom: 10px;
  background-color: white;
  width:100%;
  margin-top: 10px;

}



.submit {
  margin-left: calc(100% - 5rem);
  background-color: #2F3351; /* Greyish background color */
  color: white; /* White text color */
  // border: 1px solid #808080; /* Matching greyish border */
  // padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 3px; /* Add rounded corners */
  // text-transform: uppercase; /* Convert text to uppercase */
  // font-weight: bold; /* Bold text */
  cursor: pointer; /* Change cursor on hover */
  /* Add more styles as needed */
  width:55px;
   margin-bottom: 4px;

}




