 <div class="white container  ">
   <form [formGroup]="userForm" class="bg-white p-0" >
     <div class="tabs">
       <input type="radio" class="tabs__radio" name="tabs-example" id="tab1" checked>
       <label for="tab1" class="tabs__label">Details</label>
       <div class="tabs__content">
         <div class="totalDetails">
           <div class="userdetails">
             <div class="form-group">
               <label for="username" class="label-width">Username:</label>
               <div class="inputtag">
                 <input type="text" id="username" formControlName="username">
               </div>
             </div>
             <div class="form-group">
               <label for="fullname" class="label-width">FullName:</label>
               <div class="inputtag">
                 <input type="text" id="fullname" formControlName="fullname">
               </div>
             </div>
             <div class="form-group">
               <label for="password" class="label-width">Password:</label>
               <div class="inputtag">
                 <input type="password" id="password" formControlName="password">
               </div>
             </div>

             <div class="form-group">
               <label for="description" class="label-width">Description:</label>
               <div class="inputtag">
                 <input type="text" id="description" formControlName="description">
               </div>
             </div>

             <div class="form-group">
               <label for="language" class="label-width">Language:</label>
               <div class="inputtag">
                 <input type="text" id="language" formControlName="language">
               </div>
             </div>

           </div>
           <div>
             <div class="contact-details">
               <div class="form-group">
                 <label for="department" class="label-width">Department:</label>
                 <div class="inputtag">
                   <input type="text" id="department" formControlName="department">
                 </div>
               </div>
               <div class="form-group">
                 <label for="agent" class="label-width">Agent:</label>
                 <div class="inputtag">
                   <input type="text" id="agent" formControlName="agent">
                 </div>
               </div>
               <div class="form-group">
                 <label for="email" class="label-width">Email:</label>
                 <div class="inputtag">
                   <input type="email" id="email" formControlName="email">
                 </div>
               </div>
               <div class="form-group">
                 <label for="homephone" class="label-width">Home-Phone:</label>
                 <div class="inputtag">
                   <input type="text" id="homephone" formControlName="homephone">
                 </div>
               </div>
               <div class="form-group">
                 <label for="mobile" class="label-width">Mobile:</label>
                 <div class="inputtag">
                   <input type="text" id="mobile" formControlName="mobile">
                 </div>
               </div>
               <div class="form-group" style="color: transparent;">..</div>
               <div class="form-group" style="color: transparent;">..</div>
               <div class="form-group" style="color: transparent;">..</div>
               <div class="form-group" style="color: transparent;">..</div>
               <div class="form-group" style="color: transparent;">..</div>
               <div class="form-group">
                 <label class="label-width" for="products">Selected Products:</label>
                 <div class="inputtag">
                   <ul>
                     <li *ngFor="let product of selectedProducts">{{product}}</li>
                   </ul>
                 </div>
               </div>
             </div>
           </div>
         </div>

         <button class="btn-primary" type="submit" [disabled]="userForm.invalid" (click)="navigatehome()">Done</button>

       </div>
       <input type="radio" class="tabs__radio" name="tabs-example" id="tab2">
       <label for="tab2" class="tabs__label">Access Codes</label>
       <div class="tabs__content" >
      
        <div class="row" style=" width: 100%;width: 73rem; height: 350px;margin-left: 3rem;margin-top:5rem ;">
          <div style="display: flex;font-size: 15px;">
            <p>Access Codes</p>
          <p style="margin-left: 15rem;">Access Groups</p>
            <div class="d-flex" style="margin-top: 30px;margin-left: -108px;">
              <label>Super User:</label>
              <input class="custom-checkbox"  type="checkbox" id="SuperUser" name="SuperUser"
              disabled   [checked]="superUserExist" style="margin-bottom: 3px;size:5rem;margin-left: 5px;"/>
            </div>
           
          
          </div>
          
          <div class="col-6 useraccessgroup" style="width: 10px;">
            <div *ngFor="let group of userAccessGroups; let i = index" class="access-group p-1">
              <div class="access-group-item">
                <div class="access-group-name">
                  <label>
                    <input type="checkbox" [checked]="true" [disabled]="true">
                    <strong>{{ group }}</strong>
                  </label>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-6 useraccesscodes">
            <div *ngFor="let accesscodes of matchingAccessCodes; let i = index">
              <label class="checkbox-container">
                <div class="inline-block-container accesscodes p-1">
                  <input type="checkbox" [checked]="true" [disabled]="true" class="code-checkbox">
                  <span class="code-item">{{ accesscodes.sAccessCode }}</span>
                  <span>{{ accesscodes.SAccessDescription }}</span>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>
      
     </div>
   </form>
 </div>
