
.input-group {
    position:relative;
    background-color: white;
    border: 3px solid #2F3351;
    border-radius: 10px;
    width: 20rem;
    margin-top: 20px;
    padding: 10px;
    // margin-right: 12rem;
}

.allinputs {

    margin-top: 2rem;
    margin-left: 4rem;
}

input {
    width: 100%; /* Expand the input to fill the parent container */
    font-size: 16px;
    color: #2F3351; /* Change the text color to be visible */
    border: none;
    outline: none;
    -webkit-focus-ring-color: transparent;
    transition: border-color 0.3s ease;
}

h1 {
    margin-left: 110px;
    color: #2F3351;
    font-weight: bold;
}

.container {
    overflow: hidden;
}

.submit {
    height: 40px;
    width: 20%;
    padding: 10px;
    font-size: 16px;
    background-color: #2F3351;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease;
    margin-left: 20px; /* Added 'px' unit */
    margin-right: 20px;
}

.col-middle {
    margin-top: 11px;
    padding-left: 80px;
}

.logo {
    width: 30rem;
    height: 15rem;
    margin-left: -1px;
    margin-bottom: 4px;
    padding: 0%;
}

/* Remove the unnecessary space between '.input-field' and ':hover' */
.input-field:hover {
    background-color: black;
    width: 40px;
}

.row1 {
    border: 4px solid #2F3351;
    padding: 20px;
    width: 70rem;
    margin-left: 6rem;
    margin-top: 10px;
    border-radius: 10px;
}

.col-mid {
    margin-left: 2rem;
}

.buttons {
   // margin-left: 4rem;
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.forgot {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.error-message {
  color: white;
  background-color: #dc1414;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}
