main {

    width: 100%;
    height: 100vh;
    overflow-y: auto;
    /* Enable vertical scrolling */
    // background-color: #c74141 !important;
    overflow-x: hidden;
    /* Hide horizontal overflow */
}

.row {
    display: flex;
    height: 100%;
}

.col-lg-1 {
    flex: 0 0 8.333%;
    /* Adjust as needed */
}

.col-lg-11 {
    flex: 0 0 91.667%;
    /* Adjust as needed */
    overflow: auto;
    /* Make the entire .col-lg-11 content scrollable */
}

router-outlet {
    width: 100%;
    height: 100%;
    overflow: auto;
    // margin-left: 150px;
    // margin-top: 500px !important;
    /* Make the content in router-outlet scrollable */
}

.key-img {
    width: 50px;
    max-height: 30px;
    margin-left: 9px;
    margin-bottom: 4px;
}

.securityIcon {
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 15px;
    margin-left: 58px;
}

.Securityheading {
    font-size: x-large;
    margin: 5px;
}

.outlet {
    margin-top: 0rem;
    // overflow: auto;
}

.search {
    border-bottom: 2px solid #e0e0e0;
    background-color: white;
    margin-top: -18px;
    margin-left: 85px;
    padding: 0px;
}

.searchfield {
    border: none;
    outline: none;
    margin-left: 1rem;
    font-size: 20px;
    margin-top: 2px;
}

.col-content {
    margin-left: 100px;
   
    // background-color: #fbfafa;
//   margin-bottom: 10px !important;

    .key-img {
        width: 70px;
        height: 50px;
    }

}

 
  
  /* Adjust the padding for specific elements if needed */
  .row1{
    background-color: #fafafa;
  }
  

.security-container col2{
    justify-items: flex;
}

.icone {
    margin-left: 10px;
    border: none;
}
.col2{
    margin-right:1px;
}
 
.user {
    margin-left: 1004px;
    font-size: 2em;
    // margin-bottom: 5px;
}

.User:hover {
    color: navy;
}

/* Style the scrollbar for WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 7px;
    /* Adjust the width as needed */
}

::-webkit-scrollbar-thumb {
    background: #2F3351;
    /* Change the color of the thumb */
    border-radius: 2px;
    /* Add rounded corners to the thumb */
    height: 1px;
}

::-webkit-scrollbar-track {
    background: #fff;
    /* Change the color of the scrollbar track */
}

.h4 {
    border-top: 4px solid gray;
    border-bottom: 4px solid grey;
    top: 10px;
    right: 10px;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 9999;
    margin-top: 20px;
}

.popup-container {
    position: relative;
   
}

.custom-popup {
    position: absolute;
    top: 40px;
    left: 0;
    

}

.hover-effect:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
.fa-user-circle {
    cursor: pointer;
    padding: 5px;
}