 
<main>
   
    <div class="row row1  ">
        <div class="col-lg-1">
            <app-nav-bar></app-nav-bar>
        </div>
        <div class="col-lg-11 ">
            <div class="security-container col2">
                <div class="securityIcon">

                </div>
                <div class="search">
                    <input type="text" class="searchfield" placeholder="Search....." (input)="searchUsers($event)" />
                    <i style="padding-bottom: 50px;"style="cursor: pointer;"class="fa fa-user-circle User user" aria-hidden="true" mat-button [matMenuTriggerFor]="menu" #menuTriggers >
                    <mat-menu #menu="" style="color: white;background-color: white; padding-right: 0px;margin-top: 40px;">
                        <p (click)="logout()" class="hover-effect" style="padding-left: 10px;">
                          <i class="fa fa-1x fa-sign-out" style="padding-right: 10px;"></i>Log out
                        </p>
                        <p (click)="getAccesslookupp()" class="hover-effect" style="padding-left: 10px;">
                          <i class="fa fa-info-circle" style="padding-right: 10px;"></i>About
                        </p>
                    </mat-menu>
                </i>
                </div>
            </div>
         
            <div class="col-content " >
                <div class="container bg-white ">
                    <router-outlet></router-outlet>
                    <div class="border"></div>
                </div>
            </div>

        </div>
        <div></div>

    </div>


</main>
