main {

    width: 100%;
    height: 100vh;
    overflow-y: auto;
    /* Enable vertical scrolling */
    overflow-x: hidden;
    /* Hide horizontal overflow */
}

.row {
    display: flex;
    height: 100%;
}

.col-lg-1 {
    flex: 0 0 8.333%;
    /* Adjust as needed */
}

.col-lg-11 {
    flex: 0 0 91.667%;
    /* Adjust as needed */
    overflow: auto;
    /* Make the entire .col-lg-11 content scrollable */
}

router-outlet {
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Make the content in router-outlet scrollable */
}

.key-img {
    width: 50px;
    max-height: 30px;
    margin-left: 9px;
    margin-bottom: 4px;
}

.securityIcon {
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 15px;
    margin-left: 58px;
}

.Securityheading {
    font-size: x-large;
    margin: 5px;
}

.outlet {
    margin-top: 0rem;
    // overflow: auto;  
}

.search {
    border-bottom: 3px solid #2F3351;
    background-color: white;
    margin-top: -18px;
    margin-left: 70px;
    padding: 0px;
}

.searchfield {
    border: none;
    outline: none;
    margin-left: 1rem;
    font-size: 20px;
    margin-top: 3px;
}

.col-content {
    margin-left: 70px;
    background-color: #fbfafa;

    .key-img {
        width: 70px;
        height: 50px;
    }

}



.icone {
    margin-left: 10px;
    border: none;
}
.col2{
    margin-right:1px;
}
// .content{
//     margin-left: 200px;
// }
// .col2{
//     margin-left: 70px;
// }

// .col-content{
//     margin-left: px;
// }
.user {
    margin-left: 949px;
    font-size: 3em;
    // margin-bottom: 5px;
}

.User:hover {
    color: navy;
}

/* Style the scrollbar for WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 7px;
    /* Adjust the width as needed */
}

::-webkit-scrollbar-thumb {
    background: #2F3351;
    /* Change the color of the thumb */
    border-radius: 2px;
    /* Add rounded corners to the thumb */
    height: 1px;
}

::-webkit-scrollbar-track {
    background: #fff;
    /* Change the color of the scrollbar track */
}

.h4 {
    border-top: 4px solid gray;
    border-bottom: 4px solid grey;
    // position: fixed;
    top: 10px;
    /* Adjust the top value to your desired position */
    right: 10px;
    /* Adjust the right value to your desired position */
    background-color: white;
    /* Adjust the background color as needed */
    //   padding: 10px;
    border: 1px solid #ccc;
    /* Optional: Add border for styling */
    z-index: 9999;
    margin-top: 20px;
}

.popup-container {
    position: relative;
    /* The container is the reference for the popup positioning */
}

.custom-popup {
    position: absolute;
    /* Position the card absolutely */
    top: 40px;
    /* Adjust the top position as needed */
    left: 0;
    /* Adjust the left position as needed */
    /* Add other custom styles for the card appearance */
    .about-link {
        cursor: pointer;
        padding-right: 10px;
        display: flex;
        align-items: center;
      }
    
      .about-link i {
        margin-right: 5px; /* Adjust the margin as needed */
      }
}