<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form1 bg-white ">
  <div class="tabs  ">
    <div></div>
    <input type="radio" class="tabs__radio" name="tabs-example" id="tab1" checked>
    <label for="tab1" class="tabs__label"  >
      <i class="fa fa-user"></i> Details
    </label>

    <!-- <i class="fa fa-exclamation-triangle invalid-indicator"></i> -->
    <div class="tabs__content" >
     
        <div class="userdetails form-group " style="background-color: #ffffff;">
          <div class="row">
            <div class="col-4" style="border: red 1px solid;width: 25%;" >
              <div class="form-group">
                <label for="username" class="label-width">Username:</label>
                <div class="inputtag">
                  <input type="text" class="form-control ng-pristine is-invalid " id="username" formControlName="username"
                    [ngClass]="{ 'is-invalid': isControlInvalid('username'), 'invalid-field': isControlInvalid('username') }">
                  <div *ngIf="isControlInvalid('username')" class="invalid-feedback">
                    Username required.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="fullname" class="label-width">Full Name:</label>
                <div class="inputtag">
                  <input type="text" class="form-control ng-pristine is-invalid " id="fullname" formControlName="fullname"
                    [ngClass]="{ 'is-invalid': isControlInvalid('fullname') }">
                  <div *ngIf="isControlInvalid('fullname')" class="invalid-feedback">
                    Full Name required.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="password" class="label-width">Password:</label>
                <div class="inputtag">
                  <input type="password" class="form-control ng-pristine is-invalid " id="password"
                    formControlName="password" [ngClass]="{ 'is-invalid': isControlInvalid('password') }">
                  <div *ngIf="isControlInvalid('password')" class="invalid-feedback">
                    Password required & min 6 characters.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="confirmpassword" class="label-width">Confirm Password:</label>
                <div class="inputtag">
                  <input type="password" class="form-control ng-pristine is-invalid " id="confirmpassword"
                    formControlName="confirmpassword" [ngClass]="{ 'is-invalid': isControlInvalid('confirmpassword') }">
                  <div *ngIf="isControlInvalid('confirmpassword')" class="invalid-feedback">
                    Confirm Password required & match Password.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="contactdetails form-group" style="margin-left: 0rem; ;">
                <div class="form-group">
                  <label for="department" class="label-width">Department:</label>
                  <select id="department" class="check" formControlName="department"
                    [ngClass]="{ 'is-invalid': isControlInvalid('department') }">
                    <option value="HR">HR</option>
                    <option value="IT">IT</option>
                    <option value="Sales">Sales</option>
                  </select>
                  <div *ngIf="isControlInvalid('department')" class="invalid-feedback">
                    Department required.
                  </div>
                </div>
      
                <div class="form-group">
                  <label for="agent" class="label-width">Agent:</label>
                  <select id="agent" class="ng-star-inserted check" formControlName="agent"
                    [ngClass]="{ 'is-invalid': isControlInvalid('agent') }">
                    <option value="Simply Health">Simply Health</option>
                    <option value="Genasys">Genasys</option>
                    <option value="Standard Bank">Standard Bank</option>
                  </select>
                  <div *ngIf="isControlInvalid('agent')" class="invalid-feedback">
                    Agent required.
                  </div>
                </div>
                <div class="form-group">
                  <label for="description" class="label-width">description:</label>
                  <div class="inputtag">
                    <input type="text" class="form-control ng-pristine is-invalid " id="description" formControlName="description"
                      [ngClass]="{ 'is-invalid': isControlInvalid('description') }">
                    <div *ngIf="isControlInvalid('description')" class="invalid-feedback">
                      Description required.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="language" class="label-width">Language:</label>
                  <select id="language" class="check" formControlName="language">
                    <option value="English">English</option>
                    <option value="Afrikaans">Afrikaans</option>
                    <option value="Native">Native</option>
                  </select>
                  <div *ngIf="isControlInvalid('language')" class="invalid-feedback">
                    Language required.
                  </div>
                </div>
                
              </div>
             
            </div>
            <div class="col-4">
              <div class="mobile-input" style="margin-left: -138px;" >
        
                <div class="form-group">
                  <label for="email" class="label-width">Email:</label>
                  <div class="inputtag">
                    <input type="email" class="form-control ng-pristine is-invalid " id="email" formControlName="email"
                      [ngClass]="{ 'is-invalid': isControlInvalid('email') }">
                    <div *ngIf="isControlInvalid('email')" class="invalid-feedback">
                      Email required & in a valid format.
                    </div>
                  </div>
                </div>
                <label for="mobile" class="label-width">Mobile:</label>
                <div class="inputtag">
                  <input type="text" class="form-control ng-pristine is-invalid " id="mobile" formControlName="mobile" [ngClass]="{ 'is-invalid': isControlInvalid('mobile') }">
                  <div *ngIf="isControlInvalid('mobile')" class="invalid-feedback">
                    <!-- Mobile invalid format. -->
                    Mobile is required
                  </div>
                </div>
                <div class="form-group">
                  <label for="homephone" class="label-width">Home-Phone:</label>
                  <div class="inputtag">
                    <input type="text" class="form-control ng-pristine is-invalid " id="homephone" formControlName="homephone"
                      [ngClass]="{ 'is-invalid': isControlInvalid('homephone') }">
                    <div *ngIf="isControlInvalid('homephone')" class="invalid-feedback">
                      Home-Phone invalid format.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
    </div>

    <input type="radio" class="tabs__radio" name="tabs-example" id="tab2">
    <label for="tab2" class="tabs__label"> <i class="fa fa-shield"></i> Access Codes</label>
    <div class="tabs__content bg-white">
      <div class="row p-2" style="margin-top: 5px;">
        <div class="container" style="display: flex;">


          <div class="form-group" style="display: flex; margin-right: 16px;">
            <label for="searchAccessGroup" style="margin-left: -12px;font-size:17px;">Search Access Group:</label>
            <!-- <input type="text" id="searchAccessGroup" name="searchAccessGroup" style="width: 150px; height: 20px;"> -->

            <input type="text" id="inputField" name="searchAccessGroup" formControlName="filterText2"
              style="width: 150px; height: 20px;" (input)="onFilterTextChanged($event)" />

          </div>


          <div class="form-group" style="display: flex; margin-left: 70px;">
            <label for="searchAccessCode" style="font-size:17px;">Search Access Code:</label>
            <input type="text" id="inputField" name="searchAccessGroup" formControlName="filterText1"
              style="width: 150px; height: 20px;" />
            <div class="form-group" style="display: flex;margin-top: 30px;margin-left: -327px;font-size: 20px;">
              <label>Super User:</label>
              <input (change)="changeSuperUser($event)" type="checkbox" id="SuperUser" name="SuperUser"
                formControlName="SuperUser" style="width: 18px;margin-left: 10px;" />
            </div>
          </div>


        </div>
        <div class="col-4 pl-3 useraccessgroups  ">


          <div class="access-groups ">

            <div *ngFor="let group of filteredresults; let i = index" class="access-group">
              <div class="access-group-item">
                <div class="access-group-name">
                  <label>
                    <input type="checkbox" class="checkbox4" (change)="toggleAccessCodes(i)">
                    <strong class="accesscodesfont">{{ group }}</strong>

                  </label>
                </div>
              </div>
            </div>


          </div>
        </div>
        <div class="col-8 useraccesscodes ">
          <div class="" style="display: flex;margin-left: 6px;">
            <input type="checkbox" [checked]="selectAllCheckbox" (change)="toggleSelectAll($event)">
            <label for="selectAllCheckbox" style="margin-left: 8px; margin-top: 5px;font-weight: 1000;">Select
              all</label>
          </div>
          <div *ngFor="let accesscodes of filteredAccessCodes(); let i = index">
            <label class="checkbox-container">
              <div class="inline-block-container  accesscodes p-1">
                <input type="checkbox" class="code-checkbox" [checked]="existsInAccessCodesForItem(accesscodes)"
                  (change)="toggleAccessCode(accesscodes)">
                <span class="code-item accesscodesfont">{{ accesscodes.sAccessCode }}</span>
                <span class="accesscodesdescriptionfont">{{ accesscodes.SAccessDescription }}</span>
              </div>
            </label>
          </div>
        </div>

      </div>


    </div>

    <input type="radio" class="tabs__radio" name="tabs-example" id="tab3">

    <label for="tab3" class="tabs__label"><i class="fa fa-clipboard"></i> Products</label>
    <div class="tabs__content">

        <div class="availableProducts" *ngIf="!productsfilter()">
        <app-available-products (selectedProducts)="receiveSelectedProducts($event)"></app-available-products>
        </div>
        <div class="availableProducts" *ngIf="productsfilter()">
          <h2>Filter Products</h2>
          </div>
      </div>
  </div>

  <div class="border" style=" position: relative; height: 50px;padding-top: 5px;">

    <button class="save-button" type="submit" (click)="onSubmit()" [ngStyle]="{'background-color': isFormValid() ? '#2F3351' : 'grey'}"
      style="position: absolute; margin-left: 73.23rem;">Save</button>
    <button class="cancel-button" routerLink="/home/"
      style="position: absolute; left: 100px;margin-left: 61rem;">Cancel</button>

  </div>

</form>
