<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form1">
  <div class="tabs">
    <div></div>
    <input type="radio" class="tabs__radio" name="tabs-example" id="tab1" checked>
    <label for="tab1" class="tabs__label">Details</label>
    <div class="tabs__content">
      <div class="totalDetails">
        <div class="userdetails form-group">
          <div class="form-group">
            <label for="username" class="label-width">Username:</label>
            <div class="inputtag">
              <input type="text" id="username" formControlName="username"
                [ngClass]="{ 'is-invalid': isControlInvalid('username'), 'invalid-field': isControlInvalid('username') }">
              <div *ngIf="isControlInvalid('username')" class="invalid-feedback">
                Username required.
                
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="fullname" class="label-width">Full Name:</label>
            <div class="inputtag">
              <input type="text" id="fullname" formControlName="fullname"
                [ngClass]="{ 'is-invalid': isControlInvalid('fullname') }">
              <div *ngIf="isControlInvalid('fullname')" class="invalid-feedback">
                Full Name required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="label-width">Password:</label>
            <div class="inputtag">
              <input type="password" id="password" formControlName="password"
                [ngClass]="{ 'is-invalid': isControlInvalid('password') }">
              <div *ngIf="isControlInvalid('password')" class="invalid-feedback">
                Password required & min 6 characters.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="confirmpassword" class="label-width">Confirm Password:</label>
            <div class="inputtag">
              <input type="password" id="confirmpassword" formControlName="confirmpassword"
                [ngClass]="{ 'is-invalid': isControlInvalid('confirmpassword') }">
              <div *ngIf="isControlInvalid('confirmpassword')" class="invalid-feedback">
                Confirm Password required & match Password.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="label-width">Email:</label>
            <div class="inputtag">
              <input type="email" id="email" formControlName="email"
                [ngClass]="{ 'is-invalid': isControlInvalid('email') }">
              <div *ngIf="isControlInvalid('email')" class="invalid-feedback">
                Email required & in a valid format.
              </div>
            </div>
          </div>
        </div>
        <div class="contactdetails form-group">
          <div class="form-group">
            <label for="department" class="label-width">Department:</label>
            <select id="department" class="check" formControlName="department">
              <option value="HR">HR</option>
              <option value="IT">IT</option>
              <option value="Sales">Sales</option>
            </select>
            <div *ngIf="isControlInvalid('department')" class="invalid-feedback">
              Department required.
            </div>
          </div>
          <div class="form-group">
            <label for="agent" class="label-width">Agent:</label>
            <select id="agent" class="check" formControlName="agent">
              <option value="Simply Health">Simply Health</option>
              <option value="Genasys">Genasys</option>
              <option value="Standard Bank">Standard Bank</option>
            </select>
            <div *ngIf="isControlInvalid('agent')" class="invalid-feedback">
              Agent required.
            </div>
          </div>


          <div class="form-group">
            <label for="homephone" class="label-width">Home-Phone:</label>
            <div class="inputtag">
              <input type="text" id="homephone" formControlName="homephone"
                [ngClass]="{ 'is-invalid': isControlInvalid('homephone') }">
              <div *ngIf="isControlInvalid('homephone')" class="invalid-feedback">
                Home-Phone invalid format.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="description" class="label-width">description:</label>
            <div class="inputtag">
              <input type="text" id="description" formControlName="description"
                [ngClass]="{ 'is-invalid': isControlInvalid('description') }">
              <div *ngIf="isControlInvalid('description')" class="invalid-feedback">
                Description required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="language" class="label-width">Language:</label>
            <select id="language" class="check" formControlName="language">
              <option value="English">English</option>
              <option value="Afrikaans">Afrikaans</option>
              <option value="Native">Native</option>
            </select>
            <div *ngIf="isControlInvalid('language')" class="invalid-feedback">
              Language required.
            </div>
          </div>
          <div class="form-group">
            <label for="mobile" class="label-width">Mobile:</label>
            <div class="inputtag">
              <input type="text" id="mobile" formControlName="mobile"
                [ngClass]="{ 'is-invalid': isControlInvalid('mobile') }">
              <div *ngIf="isControlInvalid('mobile')" class="invalid-feedback">
                Mobile invalid format.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <input type="radio" class="tabs__radio" name="tabs-example" id="tab2">
    <label for="tab2" class="tabs__label">Access Codes</label>
    <div class="tabs__content">
      <div class="row">
        <div class="container" style="display: flex;">


          <div class="form-group" style="display: flex; margin-right: 20px;">
            <label for="searchAccessGroup">Search Access Group:</label>
            <!-- <input type="text" id="searchAccessGroup" name="searchAccessGroup" style="width: 150px; height: 20px;"> -->
                <input type="text" [formControl]="filterTextControl2" placeholder="Search Groups"   />

          </div>


          <div class="form-group" style="display: flex; margin-left: 100px;">
            <label for="searchAccessCode">Search Access Code:</label>
            <input type="text" id="searchAccessCode" name="searchAccessCode"
              style="width: 150px; height: 20px; margin-left: 20px;">

          </div>

        </div>


        <div class="col-4 p-0" style="border: 9px solid red;">
          <div class="form-group " style="display: flex;">
            <label for="inputField" style="width: 200px;">Search Access Group:</label>
            <input type="text" id="inputField" name="searchAccessGroup"
              style="width: 150px;height: 20px;margin-left: 30px;">
          </div>
          <div class="access-groups scrollable">
            <!-- <input type="text" [formControl]="filterTextControl2" placeholder="Search Groups" /> -->
  
 

            <div *ngFor="let group of filteredAccessGroups(); let i = index" class="access-group">
              <div class="access-group-item" [ngClass]="{'': group.selected}">
                <div class="access-group-name">
                  <label>
                    <input type="checkbox" class="checkbox4" [(ngModel)]="group.selected" (change)="toggleAccessCodes(i)">
                    <strong>{{ group }}</strong>
                    <p>{{group.selected}}</p>
                  </label>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <div class="col-8 useraccesscodes">
          <div class="form-group" style="display: flex;">
            <label for="inputField">Search Access :</label>
            <input type="text" id="inputField" name="searchAccessGroup" formControlName="filterText1"
              style="width: 150px; height: 20px;" (input)="onFilterTextChanged()" />

          </div>


          <div>Filter Text: {{ filterText }}</div>

          <div *ngFor="let accesscodes of filteredAccessCodes(); let i = index">
            <label class="checkbox-container">
              <div class="inline-block-container  accesscodes p-1">
                <input type="checkbox" class="code-checkbox" [checked]="accesscodes.status"
                  (change)="toggleAccessCode(accesscodes)">
                <span class="code-item">{{ accesscodes.sAccessCode }}</span>
                <span>{{ accesscodes.SAccessDescription }}</span>
              </div>
            </label>
          </div>
        </div>

      </div>

      <button (click)="saveSelectedAccessCodes()">Save</button>
    </div>

    <input type="radio" class="tabs__radio" name="tabs-example" id="tab3">
    <label for="tab3" class="tabs__label">Available Products</label>
    <div class="tabs__content">
      <app-available-products (selectedProducts)="receiveSelectedProducts($event)"></app-available-products>
      <!-- <button mat-raised-button color="primary" (click)="saveSelectedProducts()">Save</button> -->
      <button class="" type="submit" [disabled]="userForm.invalid">Save</button>

    </div>
  </div>
</form>