<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form1">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="my-custom-class">
    <mat-tab label="User-Details">
     <i class="fa fa-exclamation-triangle invalid-indicator"></i>
      <div class="totalDetails">
        <div class="userdetails form-group">
          <div class="form-group">
            <label for="username" class="label-width">Username:</label>
            <div class="inputtag">
              <input type="text" id="username" formControlName="username" 
              [ngClass]="{ 'is-invalid': isControlInvalid('username'), 'invalid-field': isControlInvalid('username') }">
              <div *ngIf="isControlInvalid('username')" class="invalid-feedback">
                Username required.
                
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="fullname" class="label-width">Full Name:</label>
            <div class="inputtag">
              <input type="text" id="fullname" formControlName="fullname"
                [ngClass]="{ 'is-invalid': isControlInvalid('fullname') }">
              <div *ngIf="isControlInvalid('fullname')" class="invalid-feedback">
                Full Name required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="label-width">Password:</label>
            <div class="inputtag">
              <input type="password" id="password" formControlName="password"
                [ngClass]="{ 'is-invalid': isControlInvalid('password') }">
              <div *ngIf="isControlInvalid('password')" class="invalid-feedback">
                Password required & min 6 characters.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="confirmpassword" class="label-width">Confirm Password:</label>
            <div class="inputtag">
              <input type="password" id="confirmpassword" formControlName="confirmpassword"
                [ngClass]="{ 'is-invalid': isControlInvalid('confirmpassword') }">
              <div *ngIf="isControlInvalid('confirmpassword')" class="invalid-feedback">
                Confirm Password required & match Password.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="label-width">Email:</label>
            <div class="inputtag">
              <input type="email" id="email" formControlName="email"
                [ngClass]="{ 'is-invalid': isControlInvalid('email') }">
              <div *ngIf="isControlInvalid('email')" class="invalid-feedback">
                Email required & in a valid format.
              </div>
            </div>
          </div>
        </div>
        <div class="contactdetails form-group">
          <div class="form-group">
            <label for="department" class="label-width">Department:</label>
            <select id="department" class="check" formControlName="department">
              <option value="HR">HR</option>
              <option value="IT">IT</option>
              <option value="Sales">Sales</option>
            </select>
            <div *ngIf="isControlInvalid('department')" class="invalid-feedback">
              Department required.
            </div>
          </div>
          <div class="form-group">
            <label for="agent" class="label-width">Agent:</label>
            <select id="agent" class="check" formControlName="agent">
              <option value="Simply Health">Simply Health</option>
              <option value="Genasys">Genasys</option>
              <option value="Standard Bank">Standard Bank</option>
            </select>
            <div *ngIf="isControlInvalid('agent')" class="invalid-feedback">
              Agent required.
            </div>
          </div>


          <div class="form-group">
            <label for="homephone" class="label-width">Home-Phone:</label>
            <div class="inputtag">
              <input type="text" id="homephone" formControlName="homephone"
                [ngClass]="{ 'is-invalid': isControlInvalid('homephone') }">
              <div *ngIf="isControlInvalid('homephone')" class="invalid-feedback">
                Home-Phone invalid format.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="description" class="label-width">description:</label>
            <div class="inputtag">
              <input type="text" id="description" formControlName="description"
                [ngClass]="{ 'is-invalid': isControlInvalid('description') }">
              <div *ngIf="isControlInvalid('description')" class="invalid-feedback">
                Description required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="language" class="label-width">Language:</label>
            <select id="language" class="check" formControlName="language">
              <option value="English">English</option>
              <option value="Afrikaans">Afrikaans</option>
              <option value="Native">Native</option>
            </select>
            <div *ngIf="isControlInvalid('language')" class="invalid-feedback">
              Language required.
            </div>
          </div>
          <div class="form-group">
            <label for="mobile" class="label-width">Mobile:</label>
            <div class="inputtag">
              <input type="text" id="mobile" formControlName="mobile"
                [ngClass]="{ 'is-invalid': isControlInvalid('mobile') }">
              <div *ngIf="isControlInvalid('mobile')" class="invalid-feedback">
                Mobile invalid format.
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="buttons1">
        <button class="cancel-btn" type="submit" routerLink="/home">Cancel</button>
        <button class="save-btn" type="submit" [disabled]="userForm.invalid">Save</button>
      </div> -->
    </mat-tab>
    <mat-tab label="Security Access">
      <div class="dialog-content">
        <h2>Security Access Groups and Codes</h2>
        <div class="row">
          <div class="col">
            <div class="access-groups scrollable">
              <div *ngFor="let group of accessGroup; let i = index" class="access-group">
                <div class="access-group-item" [ngClass]="{'clicked': group.selected}">
                  <div class="access-group-name">
                    <label>
                      <input type="checkbox" [(ngModel)]="group.selected" (change)="toggleAccessCodes(i)">
                      <strong>{{ group.sAccessGroup }}</strong>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col bg-white p-0">
            <div class="access-codes scrollable">
              <div *ngFor="let accesscodes of SecLookup; let i = index">
                <label class="checkbox-container" [ngClass]="{'red-checkbox': accesscodes.status}">
                  <input type="checkbox" class="code-checkbox" (change)="toggleAccessCode(accesscodes)">
                  <span class="code-item">{{ accesscodes.sAccessCode }}</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button (click)="saveSelectedAccessCodes()">Save</button>
    </mat-tab>
    <mat-tab label="Available Products">
      <app-available-products (selectedProducts)="receiveSelectedProducts($event)"></app-available-products>
      <!-- <button mat-raised-button color="primary" (click)="saveSelectedProducts()">Save</button> -->
      <button class="" type="submit" [disabled]="userForm.invalid">Save</button>
    </mat-tab>
    
  </mat-tab-group>
</form>