.menu-list {
  color: white;
}
.sidenav-container {
  height: 60vh;
  padding: 0%;
}
.sidenav {
  width: 230px;
  background-color: rgb(36,53,69);
}
.sidenav .mat-toolbar {
  background: inherit;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

h1 {
  color: white;
  margin-left: 20px;
  // width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-sidenav-container .menu-list {
  color: white;
}

.menu{
  color: #fbfafa;
  background-color:#fbfafa  ;
  margin-top: 80px;
}

main {
  background-color: #f0f0f0 !important; /* Use the desired shade of grey */
 
}



.router-link {
  color: #2F3351;
  text-decoration: none;
  display: block;
  margin: 5px 0;
  padding: 7px;
  transition: background-color

}

.navbar{
  margin-top: 1px;
}

.link{
  margin-left: 15px;
  color: #5e7489;
  font-size: larger;
  cursor: pointer;
}
.link1{
  margin-left: 15px;
  color:  #5e7489;;
  font-size: larger;
  cursor: pointer;
}
.link2{
  margin-left: 15px;
  color:  #5e7489;;
  font-size: larger;
  cursor: pointer;

}
.link:hover{
  margin-left: 15px;
  color: white;
  font-size: larger;
}
.link1:hover{
  margin-left: 15px;
  color: white;
  font-size: larger;
}

.icon{
  color:  #5e7489;;
}
.icon2{
  color:#5e7489;;
  margin-left: 10px;
}
.icon3{
  color:#5e7489;;
  margin-left: 10px;
}
.icon:hover{
  color: white;;
}
.icon2:hover{
  color: white;;
  margin-left: 10px;
}
.icon3:hover{
  color: white;;
  margin-left: 10px;
}
 .redline{
  border-top: 15px solid red; /* Set the line color, style, and width */
  width: 90%;
  margin-left: 8px;
  margin-top: 1px;

 }

 .search{
  border-bottom: 3px solid #2F3351 ;
  background-color: white;
  margin-top: 30px;

 }

 .side-information{
  margin-top: 4px;
  background-color: white;
 }

 .searchfield{
    border: none;

    margin-left: 10px;
    font-size: 20px;
 }
 .logo-img {
  width: 180px;
  max-height: 70px;
  margin-left: 9px;
  margin-bottom: 4px;
}

.key-img {
  width: 50px;
  max-height: 30px;
  margin-left: 9px;
  margin-bottom: 4px;
}
.securityIcon {
  display: flex;
  align-items: center;
  background-color: white;
  margin-top: 20px;
}

.Securityheading{
  font-size: x-large;
  margin-left: 10px;
  margin: 5px;
}


.router-link {
  display: flex;
  align-items: center;
  margin: 5px 0;
  padding: 10px;
  transition: background-color, color;
  cursor: pointer;
}

.router-link:hover {
  background-color:#5e7489;  ;
  color: white;
  border-radius: 5px;
  padding: 10px;
}

.router-link.active {
  background-color:#2F4050;    
  color:white !important;  
  border-radius: 5px;  
  
}


.icon {
  color: #5e7489;
  margin-right: 10px;
  font-size: 1rem;
}

.link {
  color: #5e7489;
  font-size: larger;
}

.router-link:hover .icon,
.router-link:hover .link {
  color: white;
}


tr:not(.header-row):hover td {
  cursor: pointer;
}


