
<!-- <h2 class="Securityheading">Security Maintenance</h2>  -->
<mat-toolbar color="accent">
  <h1></h1>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
 
 <mat-sidenav #drawer class="sidenav" fixedInViewport
     [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
     [mode]="(isHandset$ | async) ? 'over' : 'side'"
     [opened]="(isHandset$ | async) === false">
   
   <mat-nav-list class="navbar">
     
     <img class="logo-img" src="assets\images\Genasys - White (CMYK).jpg">
     <div class="redline"></div>
     <div class="router-link">
       <i class="icon fa fa-home fa-2x" aria-hidden="true"></i>
       <label class="link" routerLink="/route1">Home</label>
     </div>
     <div class="router-link">
       <i class="icon fa fa-cog fa-2x" aria-hidden="true"></i>
       <label class="link" routerLink="/route3">Tools</label>
     </div>
     <div class="router-link">
       <i class="icon fa fa-refresh fa-2x" aria-hidden="true"></i>
       
       <label class="link" routerLink="/route2">Refresh</label>
     </div>
     
   </mat-nav-list>
   
 </mat-sidenav>
 <!-- <mat-sidenav-content class="">
   <div class="securityIcon">
     <img class="key-img" src="assets\images\key-solid.svg">
     <h2 class="Securityheading">Security Maintenence</h2>
   </div>
  
   <mat-toolbar class="search">
     <button
       type="button"
       aria-label="Toggle sidenav"
       mat-icon-button
       (click)="drawer.toggle()"
       *ngIf="isHandset$ | async">
       <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
     </button>
     <span><i class="fa fa-2x fa-search" aria-hidden="true"></i></span>
     <input type="text" class="searchfield" style="border: opx;" placeholder="Search by username...." />
     
   </mat-toolbar> 
    
 </mat-sidenav-content> -->
</mat-sidenav-container>
