.menu-list {
  color: white;
}
.sidenav-container {
  height: 60vh;
  padding: 0%;

.sidenav {
  width: 200px;
  background-color: #2F4050;
}
.sidenav .mat-toolbar {
  background: inherit;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
}

h1 {
  color: white;
  margin-left: 20px;
  // width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-sidenav-container .menu-list {
  color: white;
}

.menu{
  color: #fbfafa;
  background-color:#fbfafa  ;
  margin-top: 80px;
}


.router-link {
  color: #2F4050;
  text-decoration: none;
  display: block;
  margin: 5px 0;
  padding: 10px;
  transition: background-color

}

.navbar{
  margin-top: 1px;
}

.link{
  margin-left: 15px;
  color: #5e7489;
  font-size: larger;
  cursor: pointer;
}
.link1{
  margin-left: 15px;
  color:  #5e7489;;
  font-size: larger;
  cursor: pointer;
}
.link2{
  margin-left: 15px;
  color:  #5e7489;;
  font-size: larger;
  cursor: pointer;

}
.link:hover{
  margin-left: 15px;
  color: white;
  font-size: larger;
}
.link1:hover{
  margin-left: 15px;
  color: white;
  font-size: larger;
}

.icon{
  color:  #5e7489;;
}
.icon2{
  color:#5e7489;;
  margin-left: 10px;
}
.icon3{
  color:#5e7489;;
  margin-left: 10px;
}
.icon:hover{
  color: white;;
}
.icon2:hover{
  color: white;;
  margin-left: 10px;
}
.icon3:hover{
  color: white;;
  margin-left: 10px;
}
 .redline{
  border-top: 15px solid red; /* Set the line color, style, and width */
  width: 90%;
  margin-left: 8px;
  margin-top: 1px;

 }

 .search{
  border-bottom: 3px solid #2F3351 ;
  background-color: white;
  margin-top: 30px;

 }

 .side-information{
  margin-top: 4px;
  background-color: white;
 }

 .searchfield{
    border: none;

    margin-left: 10px;
    font-size: 20px;
 }
 .logo-img {
  width: 180px;
  max-height: 70px;
  margin-left: 9px;
  margin-bottom: 4px;
}

.key-img {
  width: 50px;
  max-height: 30px;
  margin-left: 9px;
  margin-bottom: 4px;
}
.securityIcon {
  display: flex;
  align-items: center;
  background-color: white;
  margin-top: 20px;
}

.Securityheading{
  font-size: x-large;
  margin-left: 10px;
  margin: 5px;
}


.router-link {
  display: flex;
  align-items: center;
  margin: 5px 0;
  padding: 10px;
  transition: background-color, color;
  cursor: pointer;
}

.router-link:hover {
  background-color: #2F3351;
  color: white;
}

.icon {
  color: #fff;
  margin-right: 10px;
  font-size: 1rem;
}

.link {
  color: #fff;
  font-size: larger;
}

.router-link:hover .icon,
.router-link:hover .link {
  color: white;
}


tr:not(.header-row):hover td {
  cursor: pointer;
}

.sidenav{
  background: #2F4050;
  transition: all .5s ease;
  position:static;
  z-index: 1;
  top: 25;
  width: 5rem;
  height: 100vh;
  box-shadow: 0.063rem o 1.25rem 0 #E70E0E;

  .logo-container{
      display: flex;
      align-items: center;
      padding: 0.938rem 0.938rem 0 0.938rem;
      width: 100%;

      .logo{
          background: white;
          text-align: center;
          width: 3rem;
          min-width: 0.313rem;
          padding: 0.313em;
          font-size: 24px;
          font-weight: 900;
          cursor: pointer;
          border: none;

      }
      .logo-text{
          margin-left: 1.5rem;
          font-size: 24px;
          font-weight: 700;
          color: white;


      }
      .btn-close{
          margin-left: auto;
          cursor: pointer;
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          background-color: transparent;
          border: none;

          .fa-times{
              color: #fff;
              font-size: 24px;

          }

      }
  }
}

.sidenav-collapsed{
  width: 16.5625rem;

}

.sidenav-nav{
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 3.65rem);
  cursor: pointer;

  .sidenav-nav-item{
      width: 100%;
      margin-bottom: 0.625rem;

      .router-link{
          display: flex;
          align-items: center;
          height: 3rem;
          color: #5e7489;
          text-decoration: none;
          border-radius: 0.625rem;
          transition: all .3s ease;

          .icon fa{
              font-size: 22px;
              width: 2rem;
              min-width: 2rem;
              margin: 0 0.5rem;
              text-align: center;
          }

          .sidenav-link-text{
              margin-left: 1.5rem;
          }
      }
  }

  .sidenav-nav-item:hover{
      .router-link:hover{
          background-color: #dadada;
          color: #2F3351;
      }
  }
}

.active{
  background-color: #5e7489;

  .icon fa,
  .sidenav-link-text{
      color: #fff;
  }
}


