.menu-list {
  color: white;  
}
.sidenav-container {
  height: 60vh;
  padding: 0%;
}
.sidenav {
  width: 200px;
  background-color: #2F3351;
}
.sidenav .mat-toolbar {
  background: inherit;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

 
.mat-sidenav-container .menu-list {
  color: white;  
} 

.menu{
  color: white;
  margin-top: 80px;
}

 
.router-link {
  color: #2F3351;  
  text-decoration: none;  
  display: block; 
  margin: 5px 0; 
  padding: 10px;  
  transition: background-color
}

.navbar{
  margin-top: 1px;
}

.link{
  margin-left: 20px;
  color: white;
  font-size: larger;
}
.link1{
  margin-left: 21px;
  color: white;
  font-size: larger;
}

.icon{
  color: white;
}
.icon2{
  color:white;
  margin-left: 10px;
}
 .redline{
  border-top: 15px solid red; /* Set the line color, style, and width */
  width: 90%; 
  margin-left: 8px;
  margin-top: 1px;
   
 }
 
 .search{
  border-bottom: 3px solid #2F3351 ;
  background-color: white;
  margin-top: 30px;
  
 }

 .side-information{
  margin-top: 4px;
  background-color: white;
 }

 .searchfield{
    border: none; 
    
    margin-left: 10px;
    font-size: 20px;
 } 
 .logo-img {
  width: 180px;  
  max-height: 70px;  
  margin-left: 9px;
  margin-bottom: 4px;
}

.key-img {
  width: 50px;  
  max-height: 30px;  
  margin-left: 9px;
  margin-bottom: 4px;
}
.securityIcon {
  display: flex; 
  align-items: center; 
  background-color: white;
  margin-top: 20px;
}

.Securityheading{
  font-size: x-large;
  margin-left: 10px;
  margin: 5px;


}

// .navbar .router-link label { display: none }
