
.container-table{
  width: 96%;
  // margin-left: ;
  margin-bottom: 1px;
  margin-left: 11px;
  overflow-x: hidden;

}



.btn-add {
  background-color: #2F3351;
  color: #fff;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 72.50rem;
}



.welcome{
  margin-left: 5px !important;
  margin-top: 15px !important;
  // font-weight: 600px;
  
  font-size: 26px !important;
}


.mat-tab-group {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 2px;
  box-shadow: none;
}

.mat-tab-label {
  background-color: #2F3351;
  color: #fff;
}

.mat-tab-label-content {
  padding: 5px 10px;
}


.mat-paginator-page-size,
.mat-select-arrow {
  display: none ;
}


.mat-tab-label.Users {
  display: flex;
  align-items: center;
}

.mat-icon {
  margin-right: 8px;
}

.user {
  margin-left: 0;
}



.mat-tab-body {
  border-bottom: 1px solid #ddd;
  padding: 20px;
}



/* Style the table container */
.container-table {
  width: auto;
  overflow-x: auto;
  margin-top: 20px;
}

/* Style the table itself */
.table {
  width: auto;
  border-collapse: collapse;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: solid 1px black;
}

 
/* Style the table rows */
td {
  padding-top: 3px !important;
  border-bottom: 1px solid black !important;
  padding-bottom: 0px !important;
  text-align: center; /* Add this line to center the content */
}


/* Style the Actions column */
.action {
  text-align: center;
}

 

.btn-add:hover {
  background-color: #2F3351;

}



.mat-tab-label {
  display: flex;
  align-items: center;
}

.mat-icon {
  margin-right: 8px;
}



.mat-icon {
  font-size: 25px;
  color: #333;
  transform: scale(1.5);
}

.mat-tab-label-content {
  font-weight: bold;
  font-size: 18px;
  color: #333;

}

.mat-tab-labels {
  overflow: hidden;
}

.mat-tab-label {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 160px; /* Adjust this value to control the maximum tab width */
}

.mat-tab-group {
  box-shadow: none !important;
}
.tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  font-family: sans-serif;
  padding: 1px;
  border-bottom: none;
  border-radius: 5px;
}

.tabs__label {
 
  background-color: #f2f2f2;
  border: black 0.2px;
  width: 235px;
  height: 40px;
  padding-left: 20px;
  padding-top: 10px;
  border-radius: 3px;
  font-size: 16px; 
  font-family: Roboto, Helvetica Neue, sans-serif; 
  font-weight: 580;
  

}

.check{
  width: 94px;
  height: 20px;
  background-color: white;
  margin-left: 10px;
  margin-bottom: 4px;
  border-radius:  3px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  cursor: pointer;
}

.check:hover{
  cursor: pointer;
}

.tabs__radio {
  display: none;
}

.tabs__content {
  order: 1;
  width: 100%;
  // border-bottom: 3px solid #dddddd;
  line-height: 1.5;
  font-size: 0.9em;
  display: none;
  padding: 0px;
  height: 590px;

}

.usericon{
  margin-left: 19px;
  transform: scale(1.2);
}

 
.tabs__radio:checked + .tabs__label + .tabs__content {
  display: initial;
}


.tab2{
  display:none;
}


tr:not(.header-row):hover td {
  background-color: #f2f2f2;
  cursor: pointer;
}

.custom-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: left; /* Align the text to the left, adjust if needed */
}

.custom-menu-item:hover {
  background-color: #f0f0f0; /* Change the hover background color as needed */
}

.details{
  padding-top: 16px;
}

/* Style the table header */
th {
  
  background-color: #f2f2f2 !important;
  text-align: left;
  border-bottom: 1px solid black !important;
}

/* Add border to the first and last th in the table */
th:first-child {
  border-left: none !important;
}

th:last-child {
  border-right: none !important;
}

/* Style the table rows */
td {
  // padding: 5px;
  border-bottom: 1px solid black !important;
}











