
.container-table{
  width: 96%;
  // margin-left: ;
  margin-bottom: 1px;
  margin-left: 11px;
  overflow-x: hidden;

}



.btn-add {
  background-color: #2F3351;
  color: #fff;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 75.5rem;
}



.welcome{
  margin-left: 40px;
  //margin-top: 0px;
  font-weight: 600px;
  font-size: 18px; 
  font-family: Roboto, Helvetica Neue, sans-serif; 
}

.welcome1{
  color: #f0f0f0;
}


.mat-tab-group {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 2px;
  box-shadow: none;
}

.mat-tab-label {
  background-color: #2F3351;
  color: #fff;
}

.mat-tab-label-content {
  padding: 5px 10px;
}


.mat-paginator-page-size,
.mat-select-arrow {
  display: none ;
}


.mat-tab-label.Users {
  display: flex;
  align-items: center;
}

.mat-icon {
  margin-right: 8px;
}

.user {
  margin-left: 0;
}



.mat-tab-body {
  border-bottom: 1px solid #ddd;
  padding: 20px;
}



/* Style the table container */
.container-table {
  width: auto;
  overflow-x: auto;
  margin-top: 20px;
}

/* Style the table itself */
.table {
  width: auto;
  border-collapse: collapse;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: solid 1px black;
  padding: 2px;
}

/* Style the table header */
th {
  background-color: #f2f2f2;
  text-align: left;
  padding: 2px;
  border-bottom: 1px solid black;
}

/* Style the table rows */
td {
  padding: 5px;
  border-bottom: 1px solid black;
}

/* Style the Actions column */
.action {
  text-align: center;
}

/* Style the Add User button */
// .btn-add {
//   background-color: #007bff;
//   color: white;
//   border: none;
//   border-radius: 5px;
//   padding: 10px 20px;
//   cursor: pointer;
//   margin-top: 20px;
//   font-size: 16px;
// }

.btn-add:hover {
  background-color: #2F3351;
}



.mat-tab-label {
  display: flex;
  align-items: center;
}

.mat-icon {
  margin-right: 8px;
}



.mat-icon {
  font-size: 25px;
  color: #333;
  transform: scale(1.5);
}

.mat-tab-label-content {
  font-weight: bold;
  font-size: 18px;
  color: #333;

}

.mat-tab-labels {
  overflow: hidden;
}

.mat-tab-label {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 160px; /* Adjust this value to control the maximum tab width */
}

.mat-tab-group {
  box-shadow: none !important;
}
.tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  padding: 1px;
  // border: solid 1px black;
 border-bottom: none;
 border-radius: 5px;
}

.tabs__label {
  // padding: 5px 11px;
  //cursor: pointer;
  border:solid black 1px;
  width: 235px;
  height: 40px;
  padding-left: 20px;
  padding-top: 10px;
  border-radius: 3px;
  font-size: 16px; 
  font-family: Roboto, Helvetica Neue, sans-serif; 
  font-weight: 580;

}

.check{
  width: 94px;
  height: 20px;
  margin-left: 10px;
  margin-bottom: 4px;
  border-radius:  3px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  cursor: pointer;
}

.check:hover{
  cursor: pointer;
}

.tabs__radio {
  display: none;
}

.tabs__content {
  order: 1;
  width: 100%;
  // border-bottom: 3px solid #dddddd;
  line-height: 1.5;
  font-size: 0.9em;
  display: none;
  padding: 0px;
}

.usericon{
  margin-left: 19px;
  transform: scale(1.2);
}

// .tabs__radio:checked + .tabs__label {
//   // font-weight: bold;
//   // color: #009578;
//   // border-bottom: 2px solid #009578;
// }

.tabs__radio:checked + .tabs__label + .tabs__content {
  display: initial;
}



// .container{
//   border: solid 3px black;
// }

.tab2{
  display:none;
}


tr:not(.header-row):hover td {
  background-color: #f2f2f2;
  cursor: pointer;
  font-weight: 400;
  color: rgb(0, 38, 255);
}

.custom-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: left; /* Align the text to the left, adjust if needed */
}

.custom-menu-item:hover {
  background-color: #f0f0f0; /* Change the hover background color as needed */
}

.details{
  padding-top: 16px;
}










