.start {
    display: flex;
    height: 100%;
}

.bg-white {
    background-color: white; // Add this if 'bg-white' is not defined elsewhere
}

.ad, .ad1 {
    padding: 0; // Remove default Bootstrap padding if needed
    //padding-left: -14;
}