<div class="dialog-content">
  <h2>Security Access Codes</h2>
  <div class="access-codes scrollable">
    <div *ngFor="let secCode of SecLookup" class="access-code">
      <div class="access-code-item" (click)="toggleaccesscode(secCode)"  #accessCodeItem>

        <strong>{{ secCode.sAccessCode }}</strong><span>{{ secCode.SAccessDescription }}</span>
      </div>
    </div>
  </div>
</div>

<mat-tab-group animationDuration="0ms">
  <mat-tab label="Add Access-code">
    <div class="form-container" >
      <form (ngSubmit)="onsubmit()" [formGroup]="myForm">
        <div class="form-row">
          <div class="form-group">
            <label for="code">Code:</label>
            <input type="text" id="code" formControlName="code">
            <div *ngIf="myForm.get('code').hasError('required')" class="error-message">Code is required</div>
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" id="description" formControlName="description">
            <div *ngIf="myForm.get('description').hasError('required')" class="error-message">Description is required</div>
          </div>
        </div>

        <div class="dialog-actions">
          <button mat-button type="submit" [disabled]="myForm.invalid">Add</button>
        </div>
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Edit Access-code">
    <div class="form-container">
      <form (ngSubmit)="updateAccessCode()" [formGroup]="EditForm1">
        <div class="form-row">
          <div class="form-group">
            <label for="editCode">Code:</label>
            <input type="text" id="editcode" name="editcode" formControlName="editcode">
          </div>
          <div class="form-group">
            <label for="editDescription">Description:</label>
            <input type="text" id="editdescription" name="editdescription" formControlName="editdescription">
          </div>
        </div>
        <div class="dialog-actions">
          <button mat-button type="submit"  >Save</button>
          <button (click)="delete()">Delete</button>
        </div>
      </form>
    </div>
  </mat-tab>
</mat-tab-group>
 

