 /* Import the Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


html, body {
    height: 100%;
    margin: 0;
    font-family:  "opensans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color	: #676a6c !important;
    
    // color: var(--primary-color, #a7b1c2);
    // font-size: 15px !important;
    // color:red !important;
    
  }

  .accesscodesfont{
    font-weight: 450 !important	; color: #252a2d;
  }

  .accesscodesdescriptionfont{
    font-weight: 400 !important	; color:#676a6c
  }

.btn-primary {
    background-color:#676a6c;
}

.border{
    border:  1px solid #e7eaec;
    width: 100%;
    margin-left: 10px;
    background-color: #fafafa;
    
}
